{{#unless promotion.promoType}} {{!--Show only if free promotion (=0) --}}
<p class="footer"><a href="https://whatspromo.com/wp" class="">Crear mi propia promoción ahora <i class="edit icon"></i></a></p>
{{/unless}} 


<p class="footer-wp"><a href="https://whatspromo.com/wp" class="">© WhatsPromo 2017</a> · <a href="https://whatspromo.com/wp/terminos-y-condiciones/" class="">Condiciones legales</a></p>