<p class="footer"><a href="" class="">Crear mi propia promoción ahora <i class="edit icon"></i></a></p>
<p class="footer-wp"><a href="" class="">© WhatsPromo 2017</a> · <a href="" class="">Condiciones legales</a></p>