<!--Meta Tags-->
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <base href="/">

 <title>WhatsPromo</title>
 <link rel="canonical" href="whatspromo.com">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta name="keywords" content="some, kind, of, keywords, for, seo">
 <meta name="description" content="A short 200 chars description.">
 <!--FACEBOOK-->
 <meta property="og:title" content="">
 <meta property="og:site_name" content="">
 <meta property="og:url" content="whatspromo.com">
 <meta property="og:description" content="A short 200 chars description.">
 <meta property="og:image" content="">
 <meta property="fb:app_id" content="">
 <meta property="og:type" content="website">
 <meta property="og:locale" content="">
 <!--TWITTER-->
 <meta property="twitter:card" content="summary">
 <meta property="twitter:title" content="">
 <meta property="twitter:description" content="">
 <meta property="twitter:creator" content="">
 <meta property="twitter:url" content="whatspromo.com">
 <meta property="twitter:image" content="">
 <meta property="twitter:image:alt" content="">
