<div class="ui modal share">
  <i class="close icon"></i>
  <div class="header">
    Compartir con
  </div>
  <div class="content">

    <div class="ui column centered grid">
      <div class="ten wide column centered row">
        <button class="ui big whatsapp green button">
     <i class=" whatsapp icon"></i> Whatsapp
    </button>

        <button class="ui big messenger button">
     <i class="fb-messenger icon "></i> Messenger
    </button>
      </div>
    </div>

    <p class="ui grey">Comparte con tus familiares y amigos.
      <br>Animalos a participar para conseguir más puntos.</p>

    <div class="ui center aligned basic segment friends-info">
      <p><i class="users icon"></i> 1 amigo participa = <strong>10</strong><i class="yellow star icon"></i> puntos</p>
      <p><i class="unhide icon"></i> 1 amigo mirando = <strong>1</strong><i class="yellow star icon"></i> punto</p>
    </div>





  </div>
</div>