<div class="ui modal faqs">
  <i class="close icon"></i>
  <div class="header">
    Preguntas frecuentes
  </div>
  <div class="content">

    <div class="ui styled fluid accordion">
      <div class="title">
        <i class="dropdown icon"></i> ¿Cómo funciona?
      </div>
      <div class="content">
        <p class="transition hidden">
          Simplemente comparte la promoción con tus amigos y entra en el sorteo. Así de fácil.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Cómo vuelvo al sorteo?
      </div>
      <div class="content">
        <p class="transition hidden">
          Simplemente vuelve a acceder al enlace de la promoción y se cargara automáticamente tu perfil.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Necesito registrarme con usuario y contraseña?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. Al acceder al enlace de la promoción, se carga tu perfil automáticamente.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Necesito iniciar sesión?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. Tu perfil permanece activo en tu móvil.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Puede acceder alguien en mi perfil?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. A no ser que facilites tu información de contacto a otras personas. Si esto sucede, lo único que puede hacer es beneficiarte,
          ya que sólo podrá hacer que acumules más puntos.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Cómo se comparte?
      </div>
      <div class="content">
        <p class="transition hidden">
          Por Whatsapp o Facebook Messenger. Son la plataformas que hemos elegido para que sea lo más sencillo para ti y tus amigos.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Es complicado?
      </div>
      <div class="content">
        <p class="transition hidden">
          Para nada, simplemente sigue los pasos indicados en la aplicación.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Tengo que copiar y pegar algún texto?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. Nosotros escribimos la invitación por ti, elige un contacto o un grupo en Whatsapp. Envíalo y obtendrás puntos para la
          promoción.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Para qué sirven los puntos?
      </div>
      <div class="content">
        <p class="transition hidden">
          Cuantos más puntos tengas, más oportunidades de ganar el premio tendrás. Cada vez que un usuario comparte, recibes más puntos.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Cuándo recibo puntos?
      </div>
      <div class="content">
        <p class="transition hidden">
          Con solo participar consigues +5 puntos GRATIS, por cada amigo que acceda al enlace +1 punto y por cada amigo que participe
          utilizando tu enlace +5 puntos.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Cómo recibo mi premio?
      </div>
      <div class="content">
        <p class="transition hidden">
          La empresa anunciadora pondrá en conocimiento toda esta información a los participantes en la misma pantalla, exactamente
          en las bases del concurso.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Necesito cumplir algún requisito?
      </div>
      <div class="content">
        <p class="transition hidden">
          Ser mayor de edad o tener el consentimiento de los padres si tienes más de 14 años. Deberás facilitarnos tu número de teléfono
          o correo electrónico para que podamos contactar contigo una vez ganes el sorteo.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Cómo se selecciona el ganador?
      </div>
      <div class="content">
        <p class="transition hidden">
          De una forma muy fácil. Nuestro sistema selecciona al azar 5 candidatos de entre todos los participantes. Cada punto que
          tengas, equivale a una participación. Por lo que, cuantos más tengas, más oportunidades tendrás de ser elegido.
          Se declara ganador el primer candidato. Si este desiste del premio o la empresa anunciante no puede contactar con
          él, se elige al segundo candidato, y así sucesivamente.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Dónde se publican los ganadores?
      </div>
      <div class="content">
        <p class="transition hidden">
          Al finalizar la cuenta atrás, el sistema muestra a los 5 candidatos seleccionados al azar en la misma pantalla.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Qué pasa cuando acaba el sorteo?
      </div>
      <div class="content">
        <p class="transition hidden">
          Si eres el candidato a llevarte el premio te avisaremos a través del método de contacto que nos hayas facilitado. Además,
          podrás ver los 5 candidatos a llevarse el premio en la misma pantalla.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Puedo participar más de una vez?
      </div>
      <div class="content">
        <p class="transition hidden">
          Sí. Puedes conseguir tantas participaciones como puntos tengas. Invita a todos tus amigos a participar y anímalos a que lo
          hagan.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Puedo participar desde otro teléfono?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. Aunque accedas a la promoción desde otro teléfono. Al participar, tendrás los mismos puntos que tenías en el teléfono
          anterior.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Puedo participar desde el ordenador?
      </div>
      <div class="content">
        <p class="transition hidden">
          No. Aunque Whatsapp tenga plataforma web, hemos decidido bloquear el acceso desde el ordenador. Si ya estás participando,
          puedes seguir enviando tu enlace personal a tus amigos desde la plataforma web de Whatsapp sin problemas.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Por qué no gano puntos al invitar a mis amigos?
      </div>
      <div class="content">
        <p class="transition hidden">
          Una vez envías la invitación por Whatsapp a tus amigos la podrán ver y acceder o no a ella. A veces sólo requiere un poco
          de tiempo, visita la promoción cada cierto tiempo y comprueba como suben tus participaciones.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> ¿Hay alguna forma de ganar puntos más rápido?
      </div>
      <div class="content">
        <p class="transition hidden">
          Hemos preparado un mensaje predefinido para que te resulte muy fácil ganar puntos, pero cada persona es un mundo, lo sabemos,
          puedes modificar el texto a tu antojo. Eso sí, debes dejar el enlace tal cual está.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> Me ha tocado y no he recibido el premio.
      </div>
      <div class="content">
        <p class="transition hidden">
          La empresa anunciadora se hace responsable del sorteo, siempre puedes contactar con ellos y reclamar tu premio, estás en
          tu total derecho.</p>
      </div>

      <div class="title">
        <i class="dropdown icon"></i> No puedo acceder a la promoción. ¿Se ha cancelado la promoción?
      </div>
      <div class="content">
        <p class="transition hidden">
          Existe la remota posibilidad que la empresa anunciadora finalice la promoción sin dar ninguna explicación. En estos casos
          no podemos hacer nada. Estate al tanto de las nuevas promociones. </p>
      </div>
    </div>

  </div>
</div>