 <div class="ui modal login">
   <div class="content">
<i class="close icon" style="
    position: absolute;
    right: 10px;
"></i>
    <div class="ui form">
     <!--Social Buttons Login-->
     <div class="field">
      <label>Participar con: </label>
      <div class="ui column centered grid">
       <div class=" column centered row">
        <button class="ui facebook button" id="facebook-login">
         <i class="facebook icon"></i> Facebook
        </button>
        <button class="ui google plus button" id="google-login">
         <i class="google plus icon"></i> Google
        </button>
       </div>
      </div>
     </div>
     <div class="ui horizontal divider">
      o con mi ...
     </div>
     <!--Email and mobile input form-->
     <div class=" field">
      <label>Móvil o Correo electrónico:</label>
      <div class="ui left icon input">
       <i class="user icon"></i>
       <input type="text" class="participate-input" placeholder="micuenta@dominio.com"> <i class="verify-icon" style="position:absolute; right: 0; left: initial;"></i>
      </div>
     </div>
    
       <div class="ui column centered grid participate-form-ext " style="display:none">
       <div class=" column centered row">
       <div class=" inline field">
      
  
        <div class="ui checkbox">
       <input type="checkbox" tabindex="0" class="hidden accept-terms">
       <label>Acepto los términos y condiciones</label>
       
      </div>
         <button disabled class=" green ui  button login-participate">
      <i class="heart icon"></i>Participar
     </button>
        
        </div>
     </div>
     </div>
    </div>
   </div>
  </div>