  <div class="ui modal settings">
 <i class="close icon"></i>
   <div class="header">
    Configuración del perfil
   </div>
   <div class="content">

    <form class="ui form">
    

     <div class=" field">
      <label><i class="map icon"></i>Código postal</label>
      <div class="field">
       <select class="ui search dropdown zipcodes">

        <!-- <option value="{{value}}">{{title}}</option>             -->


       </select>
      </div>
     </div>

     <div class="field">
      <label><i class="heart icon"></i>Promociones que me interesan</label>
      <div class="field">

       <select class="ui fluid search dropdown" multiple="">
        <option value="">Mis intereses</option>
        <option value="angular">Angular</option>
        <option value="css">CSS</option>

       </select>
      </div>
     </div>


     <div class="inline field">
      <div class="ui slider checkbox">
       <input type="checkbox" tabindex="0" class="hidden">
       <label>Notificaciones Push</label>
      </div>
     </div>

    </form>
   </div>
  </div>