<div class="ui basic modal ask-push">
  <div class="ui icon header">
    <i class="alarm outline icon"></i>
    ¿Habilitar notificaciones? 
    <!--<br>+10 puntos regalo-->
  </div>
  <div class="content">
      <p>No te pierdas ningún detalle de esta promoción. </p>
      <ul>
        <li>Te avisamos una hora antes de finalizar la promoción. </li>
        <li>Si eres uno de los premiados en el sorteo, serás el primero en enterarte. </li>
        <li>Te mantendremos informado/a de promociones de tu interés. </li>
      </ul>
    
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Sí
    </div>
  </div>
</div>