  <div class="ui modal share">
   <i class="close icon"></i>
   <div class="header">
    Compartir con
   </div>
   <div class="content">

      <div class="ui column centered grid">
       <div class="ten wide column centered row">
    <button class="ui big whatsapp green button">
     <i class=" whatsapp icon"></i> Whatsapp
    </button>

    <button class="ui big messenger button">
     <i class="fb-messenger icon "></i> Messenger
    </button>
   </div>
       </div>
    
     <p class="ui tiny header grey">Comparte con tus familiares y amigos. 
    <br>Animalos a participar para conseguir más puntos.</p>
   
  </div>
  </div>