<div class="ui modal report">
    <i class="close icon"></i>
    <div class="header">
        Reportar promoción
    </div>
    <div class="content">

        <div class="ui form">
            <!--Social Buttons Login-->
            <div class="field">
                <label>Comentarios</label>

                <div class="ui left icon input">
                    <textarea name="" id="" cols="30" rows="7"></textarea>
                </div>
            </div>
            <div class="ui column centered grid">
                <div class=" column centered row">
                    <button class="ui basic button">      
                        <i class="send icon"></i> Enviar
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>