  <div class="ui styled fluid accordion">

   <div class="title active">
    <i class="dropdown icon"></i>Descripción <i class="right-icon tags icon"></i>
   </div>
   <div class="content active">

    <!--This code need to be relocated  -->
    <button class="ui basic button participate">
     <i class="icon user"></i> Participar
    </button>
    <button class="ui basic button share">
     <i class="icon user"></i> Compartir
    </button>

    <button class="geoloc-button">Show my location</button>
    <div id="out"></div>

    <!--FB status-->
    <div id="status"></div>

    <!--Google status-->
    <div id="content"></div>

    <!--the above code ^^^ -->
    {{{promotion.promoDescription}}}
   </div>



   <div class="title ">
    <i class="dropdown icon"></i>Condiciones <i class="right-icon legal icon"></i>
   </div>
   <div class="content ">
    {{{promotion.promoLegalCond}}}
 </div>

{{#if promotion.showLocalization}}
   <div class="title">
    <i class="dropdown icon"></i>Localización <i class="right-icon map icon"></i>
   </div>
   <div class="content">
    <p class="transition hidden"> <strong>Dirección: </strong>
     <span>
    {{{promotion.fullAddress}}}       
     </span>
    </p>

    <div class="container-map">
     <div id="map"></div>
     <div id="pano"></div>
    </div>

   </div>

   {{/if}}
   <div class="title">
    <i class="dropdown icon"></i>Contacto <i class="right-icon info icon"></i>
   </div>
   <div class="content">
    {{{promotion.promoContactDetails}}}
   </div>
  </div>