  <div class="ui sticky fixed bottom ">
   <div class="ui segment">

    <div class="ui items">
     <div class="item">

      <div class="content">
       <div class="collapsable-content" style="display:none;">
        <i class=" large angle down left floated icon link expanded"></i>

        <p class="ui small header">Puntos obtenidos con mis amigos</p>
         <div class="ui divider top-divider"></div>
        <div class="ui center aligned basic segment friends-info">
         <p><i class="users icon"></i><strong>30</strong> participando <strong>x10</strong> =<i class="yellow star  icon"></i>300 puntos</p>
         <p><i class="unhide icon"></i><strong>200</strong> visualizaciones <strong>x1</strong> =<i class="yellow star  icon"></i>200 puntos</p>
        </div>

        <div class="ui divider middle-divider" ></div>
       </div>
       <div class="ui middle aligned grid ">
        <div class="nine wide column">
          <div class="participation-info ui center aligned basic segment">

          <div class="remaining-time">
           <p class="time">
            <i class="hourglass half icon"></i>
            <strong>
           <span>134h</span> <span>20m</span> <span>14s</span>
          </strong>
           </p>
           <p class="time-label">Tiempo restante</p>
          </div>

          <div class="ui divider info-divider"></div>
        <i class=" large angle up left floated icon link "></i>
          
          <div class="my-points">
           <p class="points">
            <i class="yellow star middle aligned icon"></i>
            <strong>1210</strong>
           </p>
           <p class="points-label">Puntos acumulados</p>
          </div>
         </div>
        </div>


        <div class="seven wide column">
         
         <button class="hidden green large right floated  ui button participate">
          <i class="heart icon"></i>Participar
         </button>

         <button class=" green large right floated  ui button share">
          <div><i class="small star icon"></i>Conseguir
           <br> más puntos </div>
         </button>

        </div>
       </div>

       <div class="extra">
         <div class="ui divider bottom-divider"></div>

        <i class="info icon"></i> Los otros participantes tienen ~ 300 puntos.
       </div>


      </div>

     </div>
    </div>
   </div>
  </div>