<div class="ui basic segment winners">
  <div class="ui   segment">


    <div class="ui middle aligned divided list  ">
      <h3 class="ui header"><i class="gift icon"></i>Ganadores del sorteo</h3>

      {{#each winners}}
      <div class="item">
        <div class=" content">
          <div class="ui label right floated middle">
            <i class="yellow star icon"></i> {{points}} puntos
          </div>
          {{#if profileImg}} <img class="ui mini avatar circular image" src="{{profileImg}}"> {{else}} <i class="circular large user  icon"></i>          {{/if}} {{displayName}}
        </div>
      </div>
      {{/each}}


    </div>
  </div>
</div>