{{!< default}}
 
{{#contentFor 'pageStyles'}}
<style>
</style>
{{/contentFor}}


{{#contentFor 'googleAnalyticsScripts'}}
<script type="text/javascript">
</script>
{{/contentFor}}


 {{#contentFor 'OneSignalScripts'}}
<script type="text/javascript">

        function subscribe() {
              OneSignal.push(["registerForPushNotifications"]);
              event.preventDefault();
        }


        /*Initialize OneSignal SDK*/
        var OneSignal = window.OneSignal || [];
        OneSignal.push(["init", {
              appId: "8821d4e1-cbef-499a-8f8f-c8d3e3db506f",
              safari_web_id: 'web.onesignal.auto.2cb21d9d-922f-420a-8137-99f511b7fc1b',

              autoRegister: false,
              notifyButton: {
                    enable: true /* Set to false to hide */
              }
        }]);



        /* Custom message asking for web push suscribe */
        OneSignal.push(function() {
              // If we're on an unsupported browser, do nothing
              if (!OneSignal.isPushNotificationsSupported()) {
                    return;
              }
              OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                    if (isEnabled) {
                          // The user is subscribed to notifications
                          // Don't show anything
                    } else {
                          document.getElementById("subscribe-link").addEventListener('click', subscribe);
                          document.getElementById("subscribe-link").style.display = '';
                    }
              });
        });

        /*Handle suscribe action to get OneSignal UUID for storing it with the User ID*/
        OneSignal.push(function() {
              OneSignal.on('subscriptionChange', function(isSubscribed) {
                    if (isSubscribed) {
                          // The user is subscribed
                          //   Either the user subscribed for the first time
                          //   Or the user was subscribed -> unsubscribed -> subscribed
                          OneSignal.getUserId(function(userId) {
                                // Make a POST call to your server with the user ID
                          });
                  
                  
                  //Attach Promotion ID to OneSignal UUID as a tag
                  OneSignal.push(["sendTag", "promotionID", "anyID"]);
                  
                    }
              });
        });

</script>
{{/contentFor}}
 


<h2></h2>

<div class="ui raised very padded text container segment">
  <img class="ui centered medium image" src="https://whatspromo.com/wp/wp-content/uploads/2017/03/logo_2.png">
 <h2 class="ui header">
  <i class="yellow warning sign icon"></i>
  <div class="content">
    ¡Vaya! No hemos encontrado lo que buscas 🙈
  </div>
</h2>
  <p>Parece que no hay nada en esta url. ¿Quieres probar a ver si lo encontramos?</p>
  <form role="search" method="get" class="search-form" action="https://whatspromo.com/wp/">
    <div class="ui icon input">
    <input type="search" class="search-field uisearch" placeholder="Buscar …" value="" name="s">
      <button type="submit" class="search-submit ui compact icon button"><i class="search icon"></i></button>
  </div>
</form>
  <br>
  <p>Puede ser que hayas llegado aquí porque:</p>
  <div class="ui bulleted list">
  <div class="item">La promoción a la que intentas acceder no está disponible.</div>
  <div class="item">La url indicada puede que tenga algún fallo.</div>
</div>
  <p>Si crees que hay un error en la plataforma puedes ponerte en contacto con nosotros <a href="www.whatspromo.com/wp/contacto">aquí</a> e intentaremos solucionarlo con la mayor brevedad posible.</p>
  <a class="ui toggle button" href="https://whatspromo.com">Volver a WhatsPromo</a>
  <br><br><br><br>
  <div class="site-info">
  <span class="site-title">© WhatsPromo 2017 ·</span> <a href="https://whatspromo.com/wp/terminos-y-condiciones/">Términos y Condiciones ·</a><a href="https://whatspromo.com/wp/politica-de-privacidad/"> Política de Privacidad</a></div>
  </div>

<!--Footer-->
{{>footer}}
<!--end footer-->


